# Code::Blocks stuff
*.layout
*.layout.orig
*.depend

# Cppcheck
CppCheckResults.xml

# Directories
target/
obj/
test/bin
test/obj

*.layout.orig
*.depend

# Backup files
*~

# Patches
*.patch

# Compiled Object files
*.o
*.obj
